<ion-header>
  <ion-navbar>
    <ion-title>
      Finalizando pedido
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    
    <ion-list>
        <ion-list-header>
            {{ carro.nome }}
            <br>
            {{ carro.preco | currency:'BRL':true}}
        </ion-list-header>
        <ion-item>
            <ion-label stacked>Nome</ion-label>
            <ion-input [(ngModel)]="pedido.nome" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Endereço</ion-label>
            <ion-input [(ngModel)]="pedido.endereco" type="text"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label stacked>E-mail</ion-label>
            <ion-input [(ngModel)]="pedido.email" type="text"></ion-input>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="finalizaPedido()">Realizar um sonho</button>
</ion-content>